nav(role="navigation").navbar.navbar-default.navbar-dsg-dashboard.navbar-fixed-top
	.container
		.navbar-header
			button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle.collapsed
				span.sr-only
					| Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
		.collapse.navbar-collapse.navbar-ex1-collapse
			ul.nav.navbar-nav 
				li: a(href= "#{staticURL}dashboard" ).navbar-brand
						img(src="#{staticURL}img/dsg-brand.png" alt="dsg-image")

				li.dropdown
					a.dropdown-toggle(href="#", data-toggle="dropdown",role="button", aria-expanded="false")
						| Προβολή
						span.caret
					ul.dropdown-menu(role="menu")
						li: a(href="#{staticURL}dashboard/users") Χρηστών
						li: a(href="#{staticURL}dashboard/posts") Άρθρων
						li: a(href="#{staticURL}dashboard/projects") Project
						li: a(href="#{staticURL}dashboard/publications") Δημοσιεύσεων

				li.dropdown
					a.dropdown-toggle(href="#", data-toggle="dropdown",role="button", aria-expanded="false")
						| Δημιουργία
						span.caret
					ul.dropdown-menu(role="menu")
						li: a(href="#{staticURL}dashboard/user") Χρήστη
						li: a(href="#{staticURL}dashboard/post") Άρθρου
						li: a(href="#{staticURL}dashboard/project") Project
						li: a(href="#{staticURL}dashboard/publication") Δημοσίευσης
				li: a(href= "#{staticURL}") View Site