extends ./dashboard/layouts/default.jade

block head
  title Περιοχή Διαχείρισης - #{pageDesc}

block content
  .container
    .row.first-row
      .page
        .title Περιοχή Διαχείρισης
        .motd Γεία σου 
          span #{user.firstName}
          ! Αυτή είναι η περιοχή διαχείρισης του DSG Online.
        .motd
          Από εδώ μπορείς να δημιουργήσεις <a href="/dashboard/post">Νέο Άρθρο</a>, <a href="/dashboard/project">Νέο Project</a> και να επεξεργαστείς υπάρχοντα <a href="#">Άρθρα</a>, <a href="#">Projects</a> και <a href="#">Χρήστες</a>

        h2 Dev Info
        p Username: #{user.username}
        p First Name: #{user.firstName}
        p Last Name:  #{user.lastName}
        p Email:      #{user.email}
        p Data:       #{user.data}
