include ./vars.jade
doctype html
html
  head
    include ./includes/head.jade
    title Σύνδεση | Περιοχή Διαχείρισης - #{pageDesc}
  body
    .container
      .row.login-row
        .col-md-6.col-md-offset-3
          .page
            .title.text-center Σύνδεση στη Περιοχή Διαχείρισης

            if error
              p ERROR: #{error}

            form(method="post")

              input(type="hidden", name="_csrf", value=csrfToken)

              .form-group
                input(class="form-control", type="email", id="email", name="email", placeholder="Εισαγωγή E-mail" required=true)
              
              .form-group
                input(class="form-control", type="password", id="password", name="password", placeholder="Εισαγωγή Password" required=true)

              input(type="submit", class="btn btn-success btn-lg", value="Σύνδεση")          

    include ./includes/footer.jade  
    include ./includes/scripts.jade

