extends ./layouts/default.jade

block head
	title  #{pageDesc}
	
block content
	.container
		.row				
			if error
				include ../includes/error.jade
			else
				.post
					.head							
						.info Created at #{createdAt}
						.title #{post.title}
					.author 
						b Written by 
						| #{post.author}
					.content !{post.text}