extends ./layouts/default.jade

block head
	title  #{pageDesc}
	
block content
	.container
		.row				
			if error
				include ../includes/error.jade
			else
				.post
					.head(style="background-image:url(#{post.thumb})")
						.info Created at #{createdAt}
						.title #{post.title}
						.author 
							b Written by 
							| #{post.author}
					.content !{post.text}
					.comments.col-md-10.col-md-offset-1
						h1 Comments
						include ../includes/disqus.jade	