head
	meta(charset="utf-8")
	title #{pageName} - #{pageDesc}
	//- Bootstrap 3
	link(rel="stylesheet", type="text/css", href="#{staticURL}/vendor/bootstrap-3.3.6-dist/css/bootstrap.min.css")
	//- Font Awesome	
	link(rel="stylesheet", type="text/css", href="#{staticURL}/vendor/font-awesome-4.5.0/css/font-awesome.min.css")
	//- OWL Carousel
	link(rel="stylesheet", type="text/css", href="#{staticURL}/vendor/owl.carousel/owl-carousel/owl.carousel.css")
	link(rel="stylesheet", type="text/css", href="#{staticURL}/vendor/owl.carousel/owl-carousel/owl.theme.css")
	//- Google Font
	link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Play&subset=greek,latin")
	//- Custom CSS
	link(rel="stylesheet", type="text/css", href="#{staticURL}/css/theme.css")